html{
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #F5FFEB;
}

/* Default link properties */
a {color: black; text-decoration: none;}

#ui-wrapper {
	height: 100%;
	width: 100%;
}

#map-wrapper {
	top: 50px;
	position: absolute;
	width: 100%;
	height: 100%;
}

#map-canvas{
	height: 100%;
	z-index: 0;
}

#topbar {
	position: absolute;
	height: 50px;
	width: 100%;
	/*background-color: #84A663;*/
	text-align: justify;
	z-index: 2;
	border-bottom: 2px solid #6A854F;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: white;
	font-size: 1em;

	background: #b2d680; /* Old browsers */
	background: -moz-linear-gradient(top, #b2d680 0%, #84a663 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d680), color-stop(100%,#84a663)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2d680 0%,#84a663 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2d680 0%,#84a663 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2d680 0%,#84a663 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b2d680 0%,#84a663 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2d680', endColorstr='#84a663',GradientType=0 ); /* IE6-9 */
}



.topbar-component {
	height: 100%;
	display: inline-block;
	border: 0px dashed red;
}

#topbar-left-actions {
	width: 280px;
	margin: 0px 0px 0px 10px;
	float: left;
}

#topbar-middle-actions {
	width: 450px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	padding: 0px 15px 0px 15px;
	border-radius: 120px 120px 120px 120px;
	border-left: 5px solid #6A854F;
	border-right: 5px solid #6A854F;
}

#topbar-right-actions {
	margin: 0px 15px 0px 0px;
	float: right;
}

#topbar-right-actions div.topbar-action{
	margin-left: 10px;
}

#topbar-right-actions a,
#topbar-right-actions div.topbar-action{
	color: white;
	font-weight: normal;
}

#topbar-right-actions a { color: white !important; }
#topbar-right-actions a:link { color: white !important; }
#topbar-right-actions a:hover { color: #C2EBFF !important; }

.topbar-action {
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	border: 0px dashed black;
	color: white;
	font-weight: bold;
}

#acct-menu {
	position: absolute;
	width: 120px;
	top: 50px;
	right: 500px;
	background-color: #A9C192;
	border: 2px solid #6A854F;
	visibility: hidden;
}

.acct-menu-item {
	display: block;
	text-align: right;
	padding: 3px 5px 3px 5px;
	font-size: .9em;
}

#generic-topbar {
	height: 100px;
	width: 100%;
	background-color: #84A663;
	text-align: justify;
	z-index: 2;
	border-bottom: 2px solid #6A854F;
	color: white;
	font-family: helvetica;
	font-size: 30px;
	text-align: center;

	background: #b2d680; /* Old browsers */
	background: -moz-linear-gradient(top, #b2d680 0%, #84a663 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d680), color-stop(100%,#84a663)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2d680 0%,#84a663 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2d680 0%,#84a663 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2d680 0%,#84a663 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b2d680 0%,#84a663 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2d680', endColorstr='#84a663',GradientType=0 ); /* IE6-9 */
}

#pushpin-placeholder {
	width: 100px;
}

#pushpin-container {
	position: fixed;
	top: 0px;
	width: 105px;
	height: 105px;
	z-index: 0;
	padding: 5px 0px 5px 0px;
	border-radius: 0 0 100% 100%;
	border-style: none double double double;
	border-width: 0px 5px 5px 5px;
	border-color: #6A854F #6A854F #6A854F #6A854F;
	text-align: center;
	background: #A9C192;

	background: #b9d3a0; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #b9d3a0 0%, #9baf85 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b9d3a0), color-stop(100%,#9baf85)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #b9d3a0 0%,#9baf85 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #b9d3a0 0%,#9baf85 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #b9d3a0 0%,#9baf85 100%); /* IE10+ */
	background: linear-gradient(135deg, #b9d3a0 0%,#9baf85 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d3a0', endColorstr='#9baf85',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.draggable {
	position: fixed;
	pointer-events: none;
}

#sidebar {
	width: 33%;
	position: absolute;
	top: 50px;
	z-index: 1;
	background-color: #D3E6BF;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

/***Loader Animations***/
.loader {
	width: 60px;
	height: 20px;
	position: relative;
	float: left;
}

.loader div {
	width: 10px;
	height: 10px;
	background: #b2d680;
	border-radius: 50%;
	position: absolute;
}

.d1 {	animation: animate 2s linear infinite;
		-webkit-animation: animate 2s linear infinite; }
.d2 {	animation: animate 2s linear infinite -.4s;
		-webkit-animation: animate 2s linear infinite -.4s; }
.d3 {	animation: animate 2s linear infinite -.8s;
		-webkit-animation: animate 2s linear infinite -.8s; }
.d4 {	animation: animate 2s linear infinite -1.2s;
		-webkit-animation: animate 2s linear infinite -1.2s; }
.d5 {	animation: animate 2s linear infinite -1.6s;
		-webkit-animation: animate 2s linear infinite -1.6s; }

@keyframes animate {
	0% { left: 50px; top: 10px; }
	80% { left: 0; top: 10px; }
	85% { left: 0; top: 0; width: 10px; height: 10px; }
	90% { width: 20px; height: 8px; }
	95% { left: 50px; top: 0; width: 10px; height: 10px; }
	100% { left: 50px; top: 10px; }
}

@-webkit-keyframes animate { /* Safari and Chrome */
	0% { left: 50px; top: 10px; }
	80% { left: 0; top: 10px; }
	85% { left: 0; top: 0; width: 10px; height: 10px; }
	90% { width: 20px; height: 8px; }
	95% { left: 50px; top: 0; width: 10px; height: 10px; }
	100% { left: 50px; top: 10px; }
}